@font-face {
  font-family: "Anthony";
  src: local("Rajdhani"), url(../../fonts/Anthony.woff2) format("truetype");
}

.footer-wrapper {
  padding: 25px;
  margin-top: 4rem;
  /* width: calc(100vw - 96px); */
  font-family: "Anthony";
  /* padding: 2rem 48px 40px;
  margin: 1rem auto;
  box-sizing: content-box; */
  border-top: solid 1px;
}

.link-contacts {
  display: flex;
  flex-direction: row;
  gap: 25px;
}

.link-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.link-collumn {
  display: flex;
  flex-direction: column;
  max-width: 220px;
  width: 100%;
}

.link-item {
  font-size: 18px;
  line-height: 30px;
  color: rgba(0, 0, 0, 0.75);
  cursor: pointer;
  margin-bottom: 16px;
  transition: 0.3s ease;
  position: relative;
  left: 0;
}

.link-item:hover {
  background-color: #d3ff26;

  left: 1px;
}

/* @media ${props => props.theme.breakpoints.md} {
    font-size: 16px;
    line-height: 28px;
    display: flex;
}

@media ${props => props.theme.breakpoints.sm} {
    font-size: 8px;
    line-height: 14px;
    margin-bottom: 8px;
    display: flex;
    align-items: center;
} */

.link-title {
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.75);
  margin-bottom: 16px;
  cursor: pointer;
}

/* @media ${props => props.theme.breakpoints.sm} {
    font-size: 10px;
    line-height: 12px;
    margin-bottom: 8px;
} */

.company-container {
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
  margin-right: auto;
}

/* @media ${props => props.theme.breakpoints.md}{
    flex-direction: column;
    align-items: baseline;
}

@media ${props => props.theme.breakpoints.sm}{
    display: flex;
    flex-direction: column;
    margin: 0 0 32px;
    align-items: center;
} */

.slogan {
  color: rgba(0, 0, 0, 0.5);
  min-width: 280px;
  letter-spacing: 0.02em;
  font-size: 18px;
  line-height: 30px;
  padding: 1rem;
}

/* @media ${props => props.theme.breakpoints.md}{
    font-size: 16px;
    line-height: 28px;
}

@media ${props => props.theme.breakpoints.sm}{
    line-height: 22px;
    font-size: 14px;
    min-width: 100px;
} */

.social-icons-container {
  max-width: 1040px;
  display: flex;
  justify-content: space-between;
}

.social-container {
  display: flex;
  align-items: center;
}
/* @media ${props => props.theme.breakpoints.md}{
    justify-content: center;
    padding-right: 16px;
    flex-wrap: wrap;
} */

/* 
@media ${props => props.theme.breakpoints.md}{
    display: flex;
    justify-content: space-between;
  }
  
  @media ${props => props.theme.breakpoints.sm}{
    display: flex;
      width: 100%;
    flex-direction: column;
  } */

.social-icons-footer {
  transition: 0.3s ease;
  color: black;
  border-radius: 50px;
  padding: 8px;
}

.social-icons-footer:hover {
  transform: scale(1.1);
  cursor: pointer;
  background-color: #d3ff26;
}

@media (max-width: 600px) {
  .footer-wrapper {
    padding: 0px;
    margin-top: 4rem;
    /* width: calc(100vw - 96px); */
    font-family: "Anthony";
    border-top: solid 1px;
  }

  .link-contacts {
    display: block;
    /* flex-direction: collumn;
    gap: 25px; */
  }

  .link-list {
    display: flex;
    flex-direction: row;
    gap: 0px;
    justify-content: left;
  }
}
